
 /*.............SCROLL REVEAL..................*/
 .reveal {
    transform: translateY(150px);
    opacity: 0;
  }
  
  .reveal.active {
    transform: translateY(0px);
    opacity: 1;
    transition: transform 700ms ease-in-out, opacity 2s ease-in-out;
  }
