.main{
    text-align: center;
    margin: 3rem 0;
    padding: 5rem 1rem;
    h1{
        font-size: 42px;
    }

    h2{
        margin: 1rem 0;
    }

}

.about-me{
    background-color: white;
    padding: 2rem 1rem;
    h2{
        margin: 1rem 0;
        font-size: 24px;
    }

    p{
        font-weight: 300;
    }
}