@use '../utils' as u;

.skills{
    position: relative;
    width: 100vw;
    padding: 2rem;

    ul{
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: .5rem;
        padding: 4rem 2rem;
        justify-content: center;
        text-align: center;
        
        li{
            font-size: 40px;
            color: u.$red-bg-text;
            
        }
        .tailwindcss{
            place-self: center;
            width: 45px;
            margin-top: -11px;
            
            img{
            width: 45px;

            }
        }
    }
}