@use '../utils' as u;

nav{
    @include u.breakpoints(desktop){
        
        padding: 15px 90px;
        
    button{
            display: none;
    }

    .desktop{
        display: block;
        
    }
    .desktop-links{
        a{
            margin: 0 2rem;
            color: u.$red-bg-text;
            font-size: 16px;
        }
    }

    .email-link{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 150px;
        height: 50px;
        background: linear-gradient(to right, u.$red-bg-text, rgb(163, 28, 28));
        margin: .5rem 0;

        &:hover img{
            transition: all 0.5s ease;
            transform: translateX(5px);   
          }
        
          a{
            color: white;
            font-size: 16px;
        }
        
        img{
            margin: 0;
        }
    }

}


}